@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, asider {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: -1;
  font-size: 14px;
  -ms-text-size-adjust: -100%;
  -moz-text-size-adjust: -100%;
  -webkit-text-size-adjust: -100%;
}

input, button, textarea {
  font-family: inherit;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: Georgia;
  src: url(./assets/fonts/georgia-regular.ttf);
}
@font-face {
  font-family: Arial;
  src: url(./assets/fonts/arial.ttf);
}
.heading {
  font-family: Georgia;
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
}

.container {
  background: top no-repeat url(./assets/images/header-background-desktop.png);
  max-width: 1280px;
  margin: 0 auto;
  padding: 60px 40px 0;
}

.heading {
  color: #545454;
  line-height: 130%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 93.75%;
  height: 60px;
}

.logo-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo-title {
  font-family: Georgia;
  font-weight: 400;
  font-size: 32px;
  color: #F1CDB3;
}

.logo-subtitle {
  font-family: "Aleo", serif;
  font-weight: 400;
  font-size: 13px;
  color: #fff;
}

.nav-links-section {
  font-family: Arial;
  font-weight: 400;
  font-size: 15px;
  color: #CDCDCD;
  width: 36.9166666667%;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.nav-links-element:hover {
  padding-bottom: 2px;
  border-bottom: 3px solid #F1CDB3;
  transition: all 0.3s;
}

.section-make-friend {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 808px;
}

.container-make-friend {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  width: 38.3333333333%;
  height: 39.8514851485%;
}

.heading-make-friend {
  font-family: Georgia;
  font-weight: 400;
  font-size: 44px;
  font-style: normal;
  line-height: 130%;
  color: #fff;
  padding-right: 15%;
}

.text-make-friend {
  font-family: Arial;
  font-weight: 400;
  font-size: 15px;
  color: #CDCDCD;
  line-height: 160%;
}

.btn-make-friend {
  width: 45%;
  height: 16.149068323%;
  font-family: Georgia;
  font-weight: 400;
  font-size: 17px;
  background-color: #F1CDB3;
  color: #292929;
  border-radius: 100px;
}

.section-about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 588px;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35.8333333333%;
  height: 64.6258503401%;
  margin-left: 10%;
}

.about-heading {
  margin-right: 25%;
}

.about-text {
  font-family: Arial;
  font-weight: 400;
  font-size: 15px;
  color: #4c4c4c;
  margin-top: 25px;
  line-height: 130%;
}

.section-our-friends {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 877px;
  position: relative;
  background-color: #F6F6F6;
  text-align: center;
}

.container-img-our-friends {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 78.125%;
  height: 49.6009122007%;
  margin: 6.8415051311% 0;
  overflow: hidden;
}

.img-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 27%;
  border-radius: 9px;
  background-color: #fff;
}

.img-card-our-friends {
  max-width: 250px;
}

.name-image {
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  color: #292929;
}

.btn-learn-more {
  width: 69.2592592593%;
  height: 11.9540229885%;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: Georgia;
  font-weight: 400;
  font-size: 17px;
  color: #292929;
  cursor: pointer;
}

.btn-arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  cursor: pointer;
}

.arrow-left {
  bottom: 50%;
  left: 40px;
}

.arrow-right {
  bottom: 50%;
  right: 40px;
  transform: rotate(180deg);
}

.btn-our-friends {
  width: 21.75%;
  height: 52px;
  background-color: #F1CDB3;
  border-radius: 100px;
  color: #292929;
  font-family: Georgia;
  font-weight: 400;
  font-size: 17px;
}

.section-help {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 611px;
  text-align: center;
}

.items-help-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 55px 110px;
  width: 80.15625%;
  height: 45.9901800327%;
  margin: 60px 0 100px;
}

.img-container {
  height: 113px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.item-description {
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  color: #545454;
}

.section-donation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 462px;
  background-color: #F6F6F6;
}

.container-donation-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  width: 29.6875%;
  height: 61.038961039%;
  margin-left: 30px;
}

.subtitle-donation {
  font-family: Georgia;
  font-weight: 400;
  font-size: 15px;
  color: #545454;
}

.credit-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #F1CDB3;
  border-radius: 9px;
  padding: 10px 15px;
}

.number-card {
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  color: #545454;
}

.donation-text {
  font-family: Arial;
  font-weight: 400;
  font-size: 12px;
  font-style: italic;
  line-height: 18px;
  color: #B2B2B2;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background: bottom no-repeat url(./assets/images/footer-gradient-bg-desktop.png);
  height: 350px;
  padding: 0 40px;
}

.contact-container, .location-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  width: 23.4375%;
  height: 64.2857142857%;
  margin-bottom: 60px;
}

.heading-footer {
  color: #fff;
}

.footer-text {
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: #F1CDB3;
}

.footer-icons {
  margin-right: 10px;
}

.modal-our-friends {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  transition-duration: 0.7s ease;
  background-color: rgba(41, 41, 41, 0.6);
}

.container-modal-window {
  width: 75vw;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 9px;
}

.btn-cancel {
  font-size: 40px;
  font-weight: 500;
  transform: rotate(45deg);
  top: 10%;
  right: 9%;
  background-color: transparent;
}

.modal-animal-image {
  width: 44.4444444444%;
  height: 90%;
}

.description-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  width: 39%;
}

.kind-animal {
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
}

.description-animal {
  font-family: Georgia;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  margin: 40px 0;
}

.description-list {
  font-family: Georgia;
  font-weight: 400;
  font-size: 15px;
}

.description-items {
  margin-bottom: 10px;
}

.description-items::before {
  content: "•";
  color: #F1CDB3;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.btn-make-friend:hover, .btn-arrow:hover, .btn-learn-more:hover, .btn-our-friends:hover {
  background-color: #FDDCC4;
  transition: all 0.3s;
}

/*# sourceMappingURL=style.css.map */
